  

    

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
      <div class="row px-xl-5 pt-5">
          <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
              <h5 class="text-secondary text-uppercase mb-4">FREEKICKNOW</h5>
              <p class="mb-4">Freekicknow is a renowned site where latest news involving sports around the world is shared. Our News are confirmed by NewsNow and more of exclusives</p>
              <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i> Lagos, Nigeria - 100275</p>
              <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>freekicknow220@gmail.com</p>
              <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+234-(0)-8128846086</p>
          </div>
          <div class="col-lg-8 col-md-12">
              <div class="row">
                  <div class="col-md-4 mb-5">
                      <h5 class="text-secondary text-uppercase mb-4">QUICK LINKS</h5>
                      <div class="d-flex flex-column justify-content-start">
                          <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                          <a class="text-secondary mb-2" href="/contactUs"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                      </div>
                  </div>
                  <div class="col-md-4 mb-5">
                      <h5 class="text-secondary text-uppercase mb-4">Account</h5>
                      <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="/contactUs"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                      </div>
                  </div>
                  <div class="col-md-4 mb-5">
                      <h5 class="text-secondary text-uppercase mb-4">SOCIAL MEDIA</h5>
                      <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                      <div class="d-flex">
                          <a class="btn btn-primary btn-square mr-2" href="https://twitter.com/freekicknow1/"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-primary btn-square mr-2" href="https://www.web.facebook.com/profile.php?id=100082556683468"><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-primary btn-square" href="https://www.instagram.com/freekicknow220/"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Javascript File -->
  <script src="mail/jqBootstrapValidation.min.js"></script>
  <script src="mail/contact.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
</body>

</html>